body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white; /* Fixes blue background */
}

h1 {
    text-align: center;
    margin-top: 20px;
}

table {
    margin: 20px auto;
     margin-top: 40px;
    border-collapse: collapse;
    text-align: center;
    width: 50%;
    display: table;
}

th, td {
    border: 1px solid #000;
    padding: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

